@font-face {
    font-family: 'Monoid';
    src: url('/etc/Monoid-Regular-HalfTight-Dollar-0-1-l.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Monoid', monospace;
}

